@charset "utf-8";

@include keyframes(spin) {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@include keyframes(scaling) {
	0% {transform: scale(0);}
	100% {transform: scale(1);}
}

#hoge{
	@include animation(spin 1.2s ease 0.15s infinite);
}